*{
    padding: 0;
    margin: 0;
}
body{
    font-family: sans-serif;
    background: #333;
}
/*-------------------------------navbar---------------------------------------*/
.navbar-nav li a{
    color: #000;
    display: block;
    margin: 15px;
}
.navbar-nav li a:hover{
    background: #e67e22;
    border-radius: 10px;
}
/*-------------------------------banner---------------------------------------*/
.shape{
    width: 400px;
}
.boy{
    width: 350px;
    position: absolute;
    right: 120px;
    top: -15px;
}
.images img{
    transition: 1s ease;
}
.images:hover .shape{
    transform: translateY(-30px);
}

.images:hover .boy{
    transform: translateX(30px);
}
.wrapper
{
    display: inline-flex;
}
.wrapper .static-txt{
    color: #fff;
    font-size: 50px;
    font-weight: 400;
    overflow: hidden;
    position: relative;
}
.wrapper .static-txt::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: #333;
    border-left: 2px solid #fc6d6d;
    animation: typing 1.5s steps(10) infinite;
    
}
@keyframes typing{
    100%{
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}
.dete1{
   margin-top: 13%;
}
span{
    color: orange;
}

.dete1 p{
    color: rgb(163, 152, 152);
    line-height: 22px;
}
.dete1 a{
    background: #fff;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #000;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}
.dete1 a:hover{
    background: #1abc9c;
}
/*-------------------------------knowledge---------------------------------------*/
.knowledge span{
    border-bottom: 1px solid;
    font-size: 45px;
}
.knowledge h1{
color: #1abc9c;
font-size: 35px;
}
.main-know{
border: 1px solid rgb(121, 113, 113);
}
.fa-html5{
    font-size: 100px;
    color: #e34c26;
}
.html{
    color: #e34c26;
}
.fa-css3-alt{
    font-size: 100px;
    color: #264de4;
}
.css{
    color: #264de4;
}
.fa-bootstrap{
    font-size: 100px;
    color: #563d7c;
}
.bootstrap{
    color: #563d7c;
}
/*-------------------------------responsive---------------------------------------*/
@media (max-width: 400px){
    .boy{
        width: 290px;
        position: absolute;
        right: 30px;
        top: -15px;
    }
    .wrapper .static-txt{
        font-size: 37px;
        font-weight: 400;
        overflow: hidden;
        position: relative;
    }
}