*{
    padding: 0;
    margin: 0;
}
body{
    font-family: sans-serif;
    background: #222831;
}
/*-------------------------------navbar---------------------------------------*/
#navBar{
    position: sticky;
    background: #222831;
    top: 0;
    z-index: 30;
}
.navbar-nav li a{
    color: #000;
    display: block;
    margin: 15px;
}
.navbar-nav li a:hover{
    background: #393e46;
    border-radius: 10px;
}
/*-------------------------------banner---------------------------------------*/
.boy{
    width: 350px;
    position: absolute;
    right: 120px;
    top: -15px;
}
.images img,svg{
    transition: 1s ease;
}
.shape{
    width: 500px;
}
.images:hover .shape{
    transform: translateY(-30px);
}

.images:hover .boy{
    transform: translateX(30px);
}
.wrapper
{
    display: inline-flex;
}
.wrapper .static-txt{
    color: #fff;
    font-size: 50px;
    font-weight: 400;
    overflow: hidden;
    position: relative;
}
.wrapper .static-txt::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: #222831;
    border-left: 2px solid #fc6d6d;
    animation: typing 1.5s steps(10) infinite;
    
}
@keyframes typing{
    100%{
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}
.dete1{
   margin-top: 13%;
}
span{
    color: orange;
}

.dete1 p{
    color: rgb(163, 152, 152);
    line-height: 22px;
}
.dete1 a{
    background: #fff;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #000;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}
.dete1 a:hover{
    background: #1abc9c;
}
/*-------------------------------knowledge---------------------------------------*/
.knowledge span{
    font-size: 45px;
}
.knowledge h1{
color: #1abc9c;
font-size: 35px;
}
.main-know{
border-top: 15px solid #393e46;
}
.code{
    width: 150px;
    background: #eeeeee;
    border-radius: 10%;
    margin-left: 25%;
}
.code span{
    color: #222831;
    font-weight: 600;
}
.code i{
    transition: 0.3s ease;
    color: #fd7014;
    font-size: 100px;
}
.code i:hover{
    transform: translateY(-15%);
}
.title1::before
{
    content: '';
    background: #7b1798;
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);
}
.title1::after
{
    content: '';
    background: #7b1798;
    height: 10px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(1px);
}
.title2::before
{
    content: '';
    background: #3498db;
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);
}
.title2::after
{
    content: '';
    background: #3498db;
    height: 10px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(1px);
}
/*-------------------------------responsive---------------------------------------*/
@media (max-width: 400px){
    .boy{
        width: 290px;
        position: absolute;
        right: 30px;
        top: -15px;
    }
    .wrapper .static-txt{
        font-size: 30px;
        font-weight: 400;
        overflow: hidden;
        position: relative;
    }
    .code{
        margin-bottom: 20px;
    }
}
